@using VietSoft.CMMS.Web.Resources
<div class="modal-header">
    <h5>@ViewText.LBL_PHANTICH_HUHONG</h5>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body modal-confirm" id="modalInputCauseOfDamageContent">
    <div class="row mb-2">
        <div class="col-12 treeMenuContent" id="inputCauseOfDamageContent">
        </div>
    </div>

</div>

<div class="modal-footer justify-content-between gap-1 flex-nowrap">
    <button type="button" class="btn btn-outline-danger w-50" onclick="ClosePopup(this)" id="btnCancel">@ViewText.BTN_DONG</button>
    <button type="button" class="btn btn-primary w-50 disabled" id="btnSaveInputCauseOfDamageList">@ViewText.BTN_LUU</button>
</div>