@using VietSoft.CMMS.Web.Resources
<div class="modal-header">
    <h5>@ViewText.TXT_GHINHAN_THOIGIAN_LAMVIEC</h5>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body modal-confirm">
   <div class="row mb-2">
    <div class="col-12" id="logWorkContent">
        <div class="col-2" >
             <a class="btn btn-outline-primary m-1" >
                <i class="fa fa-plus fs-7" aria-hidden="true"></i>
            </a>
        </div>
      
    </div>
</div>
 
</div>

<div class="modal-footer justify-content-between gap-1 flex-nowrap">
    <button type="button" class="btn btn-outline-danger w-50" id="btnReject">@ViewText.BTN_DONG</button>
    <button type="button" class="btn btn-primary w-50" id="btnApprove" >@ViewText.BTN_LUU</button>
</div>