@using VietSoft.CMMS.Web.Resources
<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body modal-confirm">
    <div class="row">
        <img src="data:image/png;base64, @ViewBag.Image">
    </div>
</div>
