@using VietSoft.CMMS.Web.Resources
<div class="modal-header">
    <h5>Xác nhận</h5>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body modal-confirm">
    <label>@ViewBag.Message</label>
</div>
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-outline-danger w-25" id="btnNo">@ViewText.BTN_NO</button>
    <button type="button" class="btn btn-primary w-25" id="btnYes">@ViewText.BTN_YES</button>
</div>
